.products-container{
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%; */

    display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 50px 0;
}

.selectAll{
    color: rgb(60, 49, 223);
    text-transform:uppercase;
}

.delete-selected{
    color:#153a5b;
    border:1px solid #153a5b;
    border-radius: 5px;
    margin-left: 1rem;
    text-transform: uppercase;
}